<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="x-apple-disable-message-reformatting" />

    <style data-ignore="">
      /* Reset for Windows Mail 10 */
      a { text-decoration: none; }

      /* Reset for MS Office */
      p { margin: 0; }

      @media only screen and (-webkit-min-device-pixel-ratio: 2),
                             (min-resolution: 192dpi) {
        .non-retina-image {
          display: none !important;
        }

        .retina-image {
          display: block !important;
        }
      }
    </style>

    <!--[if (!IE)&(!mso)]>-->
      <style data-ignore="">
        table {
          width: 100% !important;
        }
      </style>
    <!--<![endif]-->
  </head>

  <body style="margin: 0; padding: 0;">
    {{{content}}}
  </body>
</html>
