<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <title></title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <script>
      if (location.hostname === 'localhost') {
        const socket = new WebSocket('ws://localhost:8081');

        socket.addEventListener('message', () => {
          location.reload();
        });
      }
    </script>

    <style>
      body {
        font-family: 'Source Code Pro', Menlo, monospace;
        margin: 3em 2em;
      }

      ul {
        list-style: none;
      }

      li {
        margin: 1em 0;
      }

      code {
        font-family: inherit;
        background-color: #f3f4f4;
        padding: 0.4em 0.75em;
      }
    </style>
  </head>

  <body>
    {{#if emails}}
      <nav>
        <ul>
          {{#each emails}}
            <li>
              <a href="/emails/{{name}}">{{name}}</a>
            </li>
          {{/each}}
        </ul>
      </nav>
    {{else}}
      <p>
        No templates found.
      </p>

      <p>
        Run <code>yarn run email-builder new &lt;name&gt;</code> to create a new template.
      </p>
    {{/if}}
  </body>
</html>
