<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <title>{{name}}</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <script>
      window.EMAIL = {
        name: '{{name}}',
        schema: JSON.parse('{{{schema}}}')
      }
    </script>
  </head>

  <body style="margin: 0; padding: 0;">
    <div id="container"></div>

    <script src="{{scriptUrl}}"></script>
  </body>
</html>
