<style>
  p {
    font-family: monospace;
    font-size: 16px;
    line-height: 1.5em;
  }
</style>

<div align="center">
  <p padding="20 30 45 30" max-width="600">
    After working on the registration system and website for XOXO for the past 9
    months, we figured it was only fitting to send our Andy (Mangold) to join “the
    Andys” (Baio and McMillan) at the festival this year. It was well worth the
    trip to Portland to make new friends and catch up with old ones. After
    watching Jenny Odell’s talk, he walked straight out of Revolution Hall, took
    a bus to Powell’s, and bought a copy of her book “How to Do Nothing”, which he
    finished before landing back home in Baltimore. The book, and XOXO in general,
    both earn his whole-hearted endorsement.
  </p>
</div>
