<style>
  h2 {
    font-family: Courier New, Courier, monospace;
    color: #000000;
    text-align: center;
    font-size: 18px;
    margin-top: 0;
    margin-bottom: 20px;
  }

  p {
    font-family: Courier New, Courier, monospace;
    font-size: 16px;
    line-height: 1.5em;
  }

  hr {
    border-left: none;
    border-right: none;
    border-top: 1px solid #000000;
    border-bottom: 1px solid #000000;
    width: 80px;
    margin-top: 60px;
    margin-bottom: 6px;
  }
</style>

{{#*inline "section"}}
  <div padding="20 0 600w, 40 0">
    {{#if imageSrc}}
      <img align="center" padding="0 0 40 0" width="500" src={{imageSrc}} />
    {{/if}}

    {{#if heading}}<h2>{{heading}}</h2>{{/if}}

    <div syntax="markdown">
      {{> @partial-block }}
    </div>

    {{#if ctaUrl}}
      {{> button href=ctaUrl text=ctaLabel}}
    {{/if}}
  </div>
{{/inline}}

<div align="center">
  <div padding="80 30 45 30" max-width="600">
    {{#each sections}}
      {{#> section heading=heading imageSrc=imageUrl ctaUrl=ctaUrl ctaLabel=ctaLabel}}
        {{{content}}}
      {{/section}}
    {{/each}}
  </div>
</div>
