<style>
  .button {
    font-family: Courier New, Courier, monospace;
    display: inline-block;
    color: white;
    background-color: #67C9BD;
    padding: 15px 30px;
    text-decoration: none;
  }
</style>

<a class="button" href={{href}} align="center" padding="20 0">{{text}}</a>

