<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <title></title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>

  <body>
    {{#each emails as |email|}}
      <p><a href="/{{email.name}}">{{email.name}}</a></p>
    {{/each}}
  </body>
</html>
