<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <title></title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <script>
      window.EMAIL = {
        name: '{{name}}',
        schema: JSON.parse('{{{schema}}}')
      }
    </script>
  </head>

  <body>
    <div id="container"></div>

    <script src="http://localhost:8080/main.js"></script>
  </body>
</html>
